/* ****************
 * UI helper
 *****************/
.bold {
    font-weight: bold;
}
.gray {
    color: #777777;
}

/* transaprent list item */
.uoUiMTLI.sapMListBGTransparent .sapMLIB {
    background: transparent;
}

/* fix transparent head bar padding */
.appHeadBar.sapMTB-Transparent-CTX.sapMTB,
.footerBar.sapMTB-Transparent-CTX.sapMTB {
    padding-left: 0;
}

 /*****************************
 * uoUi
 *****************************/
.uoUiTextSmallCaps {
	font-variant: small-caps;
}

.uoUiTextUpperCase {
	text-transform: uppercase;
} 

.uoUiTextLowerCase {
	text-transform: lowercase;
} 

.uoUiTextCapitalize {
	text-transform: capitalize;
} 

/* ****************
 * SVG
 *****************/
.uoUiSvgSpaceIcon svg g { 
    stroke: #e7921e; 
    /*fill: #e7921e;*/
}

/* ****************
 * AudioVis control
 *****************/
.audiovis {
    position: absolute;
    top: 0.2rem;
    left: calc(50% - 7rem);
    xright: 3rem;
}

.sapUiBlockCellTitle {
    color: #e7921e;
    font-size: 16px;
}
.sapUiBlockCellCenteredContent .sapUiBlockCellTitle {
    color: #e7921e;
    font-size: 14px;
}

/* *************************
 * uo.svg.radialMicroChart
 **************************/
.uoSvgUiRMCFont {
    fill: white;   
}

.uoSvgUiRMCNeutralTextColor {
    fill: white;
}

.uoSvgUiRMCPathIncomplete {
    stroke: #e5e5e5; 
}

.uoSvgUiRMCHCBIncompleteBorder {
    fill: transparent;
    stroke: transparent;
    stroke-width: 0.25rem;
}

/* *************************
 * App specific settings
 **************************/
 
 /* Mission Cockpit title */
 .hud-title .sapMBtnContent,
 .hud-title.sapMTitle {
    background: -webkit-linear-gradient(white, #e7921e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-variant: small-caps;
    font-size: 2rem;
}

/* avatar round corner */
.hud-avatar,
.crew .sapMImg {
    border-radius: 50%;
}

/* ARES LOGO */
.ares-iii {
    opacity: 0.8;
}

.uoUiRoundedCorners,
.uoUiRoundedCorners .sapMBtnIcon {
    border-radius: 50%;
}

/* *************************
 * MeArea
 **************************/
 .uoUiViewport {
    position: relative;
    
    -webkit-perspective: 1000;
    perspective: 1000;
    
    /*
    -webkit-perspective: 500px;
	perspective: 500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
	*/
	
	/*
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	*/
}
 
.uoUiMeArea {
    visibility: hidden;
	position: absolute;
	top: 3rem;
	xtop: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	
	xbackground: rgb(0,0,0);
	xbackground: rgba(0,0,0,0.4);
} 
 
.uoUiMeAreaPage {
    visibility: hidden;
	position: absolute;
	top: 1rem;
	bottom: 2rem;
	width: 260px;
	height: auto;
	z-index: 100;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.3);
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	
	/*
	-webkit-transform: translate3d(-100%, 0, -512px); /* rotateY(90deg);*/ /*
	transform: translate3d(-100%, 0, -512px); /* rotateY(90deg);*/ /*
	*/
	-webkit-transform: translate3d(-100%, 0, 0); /* scale(0.6);*/
	transform: translate3d(-100%, 0, 0); /* scale(0.6);*/
}


.xuoUiMeArea::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	xwidth: 100%;
	xheight: 100%;
	xbackground: rgba(0,0,0,0.2);
	background: #a99;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.meAreaVisible .uoUiMeArea,
.meAreaVisible .uoUiMeAreaPage {
	visibility: visible;
}

.meAreaVisible .uoUiMeAreaPage {
	-webkit-transform: translate3d(0, 0, 0); /* rotateY(0deg);*/
	transform: translate3d(0, 0, 0); /* rotateY(0deg);*/
}

.sapUiDSC {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
    
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.meAreaUsername {
    font-size: 1.2rem;
    font-variant: small-caps;
}

.meAreaVisible .sapUiDSC {
    -webkit-transform: translate3d(130px, 0, 0) scale(0.6);
    transform: translate3d(130px, 0, 0) scale(0.6);
}

/* text overwrite */
.uoUiMeArea .sapMIBar-CTX .sapMBtnInner,
.uoUiMeArea .sapMLabel,
.uoUiMeArea .sapUiIcon,
.uoUiMeArea .sapMSLITitleOnly,
.sapMILILabel {
    color: #aaa;
}

.xuoUiMeArea.open::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}